@font-face {
    font-family: bubblegumsans;
    src: url("./BubblegumSans-Regular.ttf");
}

.logo-container {
    display: flex;
    background-color: aqua;
    align-items: center;
}
#logo-text {
    font-family: bubblegumsans;
}