@font-face {
    font-family: tritillium-regular;
    src: url("./fonts/Titillium_Web/TitilliumWeb-Regular.ttf");
}


@font-face {
    font-family: tritillium-bold;
    src: url("./fonts/Titillium_Web/TitilliumWeb-Bold.ttf");
}

@keyframes background-gradient {
    0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

.home-body {
    margin: 0;
    padding: 0;
    border: 0;
}

.navbar-container {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: background-gradient 15s ease infinite;
    width: 100%;
    padding: 12px 0;
}

.navbar-container-inner {
    padding: 0 1.5rem;
    display: flex;
    justify-content: baseline;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 0 0 12px rgba(#000000, .75);
    font-family: tritillium-bold;
}

.seperator {
    user-select: none;
    cursor: default;
    width: 5px;
    height: 40px;
    margin: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 12px rgba(#000000, .75);
    display: inline-block;
}

.logo-text {
    font-size: 42px;
    text-decoration: underline;
    text-decoration-thickness: 6px;
    text-underline-offset: 6px;
    margin: 0 16px;
}

.navbar-buttons {
    font-size: 36px;
    color: #FFFFFF;
    text-decoration: none;
}

.navbar-buttons:hover {
    text-shadow: 0 0 3px #FFFFFF;
}

.navbar-buttons:active {
    text-shadow: 0 0 12px #FFFFFF, 0 0 12px #FFFFFF, 0 0 12px #FFFFFF, 0 0 12px #FFFFFF;   
}

#gaming-body {
    background-color: #B0B0B0;
}



#epicgamer {
    text-transform: uppercase;
    font-family: 'Alkalami', serif;;
    font-size: 3rem;
    font-weight: 700;
    color: #f5f5f5;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 1px #919191,
        1px 3px 1px #919191,
        1px 4px 1px #919191,
        1px 5px 1px #919191,
    1px 18px 6px rgba(16,16,16,0.4),
    1px 22px 10px rgba(16,16,16,0.2),
    1px 25px 35px rgba(16,16,16,0.2),
    1px 30px 60px rgba(16,16,16,0.4);
}

.gaming-content {
    margin: auto;
    width: 75%;
    padding: 10px;
    text-align: center;
}

.games-list { 
    margin: auto;
    padding-left: 0px;
    max-width: fit-content;
    list-style: none;
    * {
        color: #404040;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 1.5rem;
        font-style: italic;
        text-decoration: none;
        padding: 5px;
        span {
            ::before {
                content: '>> ';
            }
            ::after {
                content: ' <<';
            }
            ::before, ::after {
                color: #FFFFFF;
                font-style: normal;
                font-weight: bolder;
            }
        }
        a {
            transition: .25s;
            &:hover {
                color: #FFFFFF;
                text-shadow: 0 0 5px rgba(#FFFFFF, .50);
                background-color: rgba(#000000, .75);
            }
        }
    }
}

.content {
    font-family: quick;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 2px solid #000000;
    padding: 30px;
    margin: 15px;
    * {
        font-family: 'Reem Kufi Fun', sans-serif;
    }
}

.content-list {
    list-style-image: url('./arrow.svg');
    li {
        list-style: none;
        font-size: 1.5rem;
        > ::before {
            content: '';
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            background: linear-gradient(-45deg, #a9604a, #802145, #14617d, #136f59);
            background-size: 400% 400%;
            animation: background-gradient 15s ease infinite;
            mask-image: url('./arrow.svg');
            margin-right: 10px;
            background-position: center center;
            vertical-align: middle;
        }
        * {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: background-gradient 15s ease infinite;
            background-clip: text;
            color: transparent;
            transition: .25s;
            :hover {
                color: #000000;
                text-decoration: underline;
            }
        }
    }
}

.theme-chooser {
    position: absolute;
    background-color: rgba(#000000, .5);
    border-radius: 34px;
    padding: 5px;
    display: flex;
    align-items: center;
    bottom: 5px;
    right: 5px;

    .text {
        color: #FFFFFF;
        margin: 5px;
        font-size: 1.25rem;
        vertical-align: middle;
        font-family: 'Reem Kufi Fun', sans-serif;
    }

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin: 5px;
    }
    
    /* Hide default HTML checkbox */
    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }
    
    /* The slider */
    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .2s;
        transition: .2s;
    }
    
    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .2s;
        transition: .2s;
    }
      
    input:checked + .slider {
        background-color: #2196F3;
    }
      
    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }
    
    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }
    
    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }
    
    .slider.round:before {
        border-radius: 50%;
    }
}