@font-face {
    font-family: louisgeorgecafe;
    src: url("./Louis George Cafe.ttf");
}

@keyframes background-gradient {
    0% { background-position: 0% 50%; }
	50% { background-position: 100% 50%; }
	100% { background-position: 0% 50%; }
}

body {
    margin: 0px;
}

.logo-container {
    padding: 5px;
    display: flex;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    align-items: center;
    animation: background-gradient 15s ease infinite;
    * {
        margin: 0px 10px;
    }
}

#logo-text {
    font-family: louisgeorgecafe;
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(#000000, .75);
}

#epicgamer {
    font-family: louisgeorgecafe;
    color: #FFFFFF;
    text-shadow: 0 0 15px rgba(#000000, .75);
}

.content {
    font-family: quick;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: 2px solid #000000;
    padding: 30px;
    margin: 15px;
    * {
        font-family: 'Reem Kufi Fun', sans-serif;
    }
}

.content-list {
    list-style-image: url('./arrow.svg');
    li {
        list-style: none;
        font-size: 1.5rem;
        > ::before {
            content: '';
            display: inline-block;
            height: 1.25rem;
            width: 1.25rem;
            background: linear-gradient(-45deg, #a9604a, #802145, #14617d, #136f59);
            background-size: 400% 400%;
            animation: background-gradient 15s ease infinite;
            mask-image: url('./arrow.svg');
            margin-right: 10px;
            background-position: center center;
            vertical-align: middle;
        }
        * {
            background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
            background-size: 400% 400%;
            animation: background-gradient 15s ease infinite;
            background-clip: text;
            color: transparent;
            transition: .25s;
            :hover {
                color: #000000;
                text-decoration: underline;
            }
        }
    }
}